{% extends "base.html" %}
{% import "_formhelpers.html" as forms %} #Este es el form de auntetificación, "forms"
{% block title %}Ingresar{% endblock %}

{% block content %}
<h1>Iniciar sesión</h1>
<form method="POST" novalidate>
    {{ form.hidden_tag() }} #Este es el form que se hace para conseguir los valores, "form"

    <div class="field">
        {{ forms.render_field(form.email, size=32) }}
    </div>

    <div class="field">
        {{ forms.render_field(form.password, size=32) }}
    </div>

    {{ form.submit() }}
</form>
<p>¿No tenés cuenta? <a href="{{ url_for('auth.register') }}">Registrate acá</a></p>
{% endblock %}